.filepond--root{
    margin-bottom: 0;
}
.filepond--item {
    /* width: calc(50% - 0.5em); */
}

@media screen (min-width: 391px){
    .filepond--item {
        width: calc(33% - 0.5em);
    }  
}

.filepond--root{
    min-height: 6rem;

}
.filepond--drop-label{
    height: 6rem;
}